:root {
    --pageUnit: calc(10vw / 2);
    --gridColor: rgba(128, 128, 128, 0.6);
    --fondale: #f7f9f1;
    --textColor: black;
    --verde: rgb(72, 175, 115);
    --rossino: rgb(255, 103, 77);
    --bluetto: rgb(117, 190, 255);
    --giallino: rgb(253, 255, 134);
    --giallinoTrasp: var(--fondale);
    font-size: 16px;
}

@media only screen and (orientation: portrait) {
  :root {
    --pageUnit: calc(10vw / 1);
  }

  .menuItem {
    display: none;
  }

}

body {
    color: var(--textColor);
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--fondale);
    margin: 0;
    padding: 0;
    text-shadow: var(--fondale) 0rem 0rem 1px;
        text-shadow:
        -2px -2px 0 var(--fondale),  
        2px -2px 0 var(--fondale),
        -2px 2px 0 var(--fondale),
        2px 2px 0 var(--fondale),
        0rem 0rem .5rem var(--fondale);
    background-size: var(--pageUnit) var(--pageUnit);
     background-image:
        linear-gradient(to right, var(--gridColor) 1px, transparent 1px),
        linear-gradient(to bottom, var(--gridColor) 1px, transparent 1px);
    overscroll-behavior: none;
}

.verticalLines {
    margin: 0;
    padding: 0;
    position: absolute;
    height: 240vh;
    width: 1px;
    background-color: red;
}

.horizontalLines {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 1px;
    width: 200vw;
    background-color: red;
}

#leftLine {
    left: calc(var(--pageUnit) * 2 + 6px);
}

#rightLine {
    display: none;
    right: calc(var(--pageUnit) * 2 + 6px);
}

#topLine {
    top: calc(var(--pageUnit) + 6px);
}

#mobileMenu {
    position: absolute;
    /* background-color: violet; */
    cursor: pointer;
    height: 5rem;
    top: calc(var(--pageUnit));
    right: calc(var(--pageUnit));
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    z-index: 999;
    /* background-color: violet; */
    transition: all .25s ease;
}

#hiddenMenu{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--fondale);
    border-left: 1px solid var(--bluetto);
    width: 0;
    opacity: 0;
    height: 100vh;
    transition: all .25s ease;
    z-index: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.linea {
    height: 1px;
    width: 4rem;
    background-color: black;
}

.linea1 {
    transform: rotate(90deg) translate(1rem);
}

.menuItemMobile {
    cursor: pointer;
}

.header {
    margin: 0;
    height: 6rem;
    pad: 0;
    position: sticky;
    top: 0;
    padding-top: 1rem;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 999;
}

#titolo{
    /* display: none; */
    position: absolute;
    align-items: right;
    /* background-color: violet; */
    /* height: 10rem; */
    /* left: calc(var(--pageUnit)/2); */
    left: calc(50vw - 7rem);
    cursor: pointer;
    height: 5rem;
    width: 14rem;
    background-image: url("titolo.png");
    /* background-color: violet; */
    background-position: top;
    background-size: 115%;
    background-repeat: no-repeat;
}

#segnapostoTitolo {
    /* background-color: red; */
    height: 5rem;
    width: 14rem;
}

.menuItem{
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

#terra {
    position: absolute;
    height: 7rem;
    width: 7rem;
    cursor: pointer;
    /* left: calc(44.7vw); */
    left: calc(50vw - 3.5rem);
    /* background-color: red; */
    border-radius: 50%;
    top: 4rem;
    background-image: url("earth_low.gif");
    background-position: center;
    background-size: 270%;
}

.newBody {
    /* background-color: violet; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: calc(var(--pageUnit)*3);
    margin-top: 6.5rem;
    margin-bottom: 6.5rem;
}

.card-container {
    height: calc(var(--pageUnit)*6);
    width: 50vw;
    background-color: transparent;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr;
    text-shadow: none;
}

.item {
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    border-right: none;
    transition: all .25s ease;
}

.item1 {
    background-color: var(--bluetto);
    grid-column: 1 / 3;
}

.item2 {
    background-color: var(--verde);
    grid-column: 3 / 7;
}

.item3 {
    background-color: var(--verde);
    grid-column: 1 / 3;
    grid-row: 2 / 4;
}

.item4 {
    background-color: var(--bluetto);
    grid-column: 3 / 5;
    grid-row: 2 / 4;
}

.item5 {
    background-color: var(--rossino);
    grid-column: 5 / 7;
    grid-row: 2 / 7;
}

.item6 {
    background-color: var(--giallino);
    grid-column: 1 / 5;
    cursor: pointer;
}

.item6:hover {
    /* background-color: transparent; */
    background-color: var(--giallinoTrasp);
}

.item7 {
    background-color: var(--verde);
    grid-column: 1 / 5;
    grid-row: 5 / 7;
}

@media only screen and (orientation: portrait) {
    .item3 {
        grid-column: 1 / 4;
        background-color: var(--fondale);
    }

    .item4 {
      display: none;
    }

    .item5 {
        grid-column: 4 / 7;
    }

    .item6 {
        grid-column: 1 / 4;
    }

    .item7 {
        background-color: var(--fondale);
        grid-column: 1 / 4;
    }

    .newBody {
        margin-bottom: none;
    }

    .verticalLines {
        height: 200vh;
    }

    #mobileMenu {
      display: flex;
    }

}

#footer {
  margin-top: auto;
  /* bottom: 0; */
  height: 8rem;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: var(--fondale);
  border-top: var(--gridColor) 1px solid;
  display: flex;
  align-items: center;
  z-index: 99;
  font-size: small;

  /* display: none; */
  opacity: 0;
  transition: all 0.25s ease;
}

#footer-text-sx {
  height: 100%;
  width: 50%;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 5vw;
}

#footer-text-dx {
  height: 100%;
  width: 50%;
  right: 0;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-right: 5vw;
}

.footer-links {
  position: absolute;
  /* width: 4rem;
  height: 2rem; */
}